@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
body { 
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 150px;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

input {
    border-radius: 2px;
    text-align: center;
    font-family: 'Rubik';
    font-size: 25px;
}

#operators {
    margin: 5px;
}

button {
    background-color:mediumspringgreen;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

.add {
    background-color:mediumspringgreen;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    font-family: 'Rubik', Arial, Helvetica, sans-serif; 
}

button:hover {
    background-color: rgb(54, 139, 107);
    transition-duration: 0.2s;
}

button:active {
    background-color: rgb(104, 255, 197);
}

.result {
    font-size: 50px;
}